{% extends 'guest.html' %}

{% load widget_tweaks %}

{% block title %} Crie uma conta! {% endblock %}

{% block content %}

<div class="w-full max-w-xs mx-auto">
  <form method="post" action="{% url 'register' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Nome do usuário</label>
        {% render_field form.username class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:shadow-fuchsia-400 focus:placeholder:text-fuchsia-400" id="username" placeholder="Nome do usuário"%}
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">E-mail</label>
        {% render_field form.email class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:shadow-fuchsia-400 focus:placeholder:text-fuchsia-400" id="email" type="email" placeholder="E-mail" %}
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Senha</label>
        {% render_field form.password class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:shadow-fuchsia-400 focus:placeholder:text-fuchsia-400" id="password" type="password" placeholder="**************" %}
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-fuchsia-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-fuchsia-600 duration-700 ease-in-out">Criar conta</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        <a class="inline-block align-baseline font-bold text-sm text-fuchsia-400 hover:text-fuchsia-700 duration-700 ease-in-out" href="{% url 'login' %}">Já é de casa?</a>
      </div>
    </form>
</div>
{% endblock %}