{% extends 'main.html' %}

{% block title %} Mangás {% endblock %}

{% block content %}
    <div class="flex flex-row gap-16">
        <div>
            <img src="{{ manga.cover.url }}" alt="Capa da obra {{ manga.title }}" class=" h-96" style="width: 46rem">
        </div>
        <div>
            <h2 class="text-[2rem] text-gray-900 font-semibold mb-2">{{ manga.title }}</h2>
            <div class="flex flex-row lg:gap-8 gap-4 text-gray-900">
                <div>
                    <span class="font-bold">Escrita por</span> <a href="{% url 'author.show' manga.author.id %}" class="hover:text-fuchsia-600 hover:trasition-all duration-700 ease-in-out">{{ manga.author }}</a>
                </div>
                <div>
                    <span class="font-bold">Publicada em</span> {{ manga.publish_date }}
                </div>
            </div>
        </div>
    </div>
    <div class="lg:mb12 mb-8">
        <h3 class="mt-8 mb-2 font-bold">Sinopse:</h3>
        <p class="mb-8">{{ manga.synopsis }}</p>
        <form action="{% url 'manga.evaluation.store' manga.id %}" method="post">
            {% csrf_token %}
            <label for="rating" class="block mb-2 text-sm font-bold">Nota</label>
            <div class="flex flex-row lg:space-x-32 md:space-x-14 sm:space-x-12 space-x-7">
                <div>0</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <input name="rating" id="rating" type="range" min="0" max="10" value="5" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-fuchsia-600">
            <button class="bg-fuchsia-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-fuchsia-600 duration-700 ease-in-out mt-12 mx-auto block">Enviar</button>
        </form>
        {% if is_rated %}
        <form action="{% url 'manga.evaluation.destroy' manga.id %}" method="post" class="flex flex-col justify-center items-center mt-4">
            {% csrf_token %}
            <button class="text-red-600 hover:text-red-700 hover:trasition-all duration-700 ease-in-out background-transparent outline-none uppercase hover:underline font-bold">Remover avaliação</button>
        </form>
        {% endif %}
    </div>
{% endblock%}