{% extends "main.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <h2 class="text-[2rem] text-gray-900 font-semibold mb-8">Seja bem-vindo, {{ request.user.username }}</h2>
    <h4 class="text-[1.5rem] text-gray-900 font-semibold mb-4">Últimos mangás</h4>
    <div class="flex flex-row flex-wrap items-center justify-between">
        {% for manga in latest_mangas %}
        <div class="max-w-sm h-96 rounded overflow-hidden shadow-lg">
            <img class="w-full h-48" src="{{ manga.cover.url }}" alt="Capa da obra {{ manga.title }}">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">
                <a href="{% url 'manga.show' manga.id %}" class="hover:text-fuchsia-400 hover:trasition-all duration-700 ease-in-out">{{ manga.title }}</a>
              </div>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#manga</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="my-8">
      <canvas id="top-rated-mangas-graphic"></canvas>
    </div>
{% endblock %}

{% block graphics %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    
    const context = document.getElementById("top-rated-mangas-graphic").getContext('2d');

    const graphic = new Chart(context, {
      type: 'bar',
      data: {
        labels: [{% for rated_manga in top_rated_mangas %} "{{ rated_manga.top_manga_title }}", {% endfor %}],
        datasets: [{
          label: "Mangás mais bem avaliados de todo o site",
          data: [{% for rated_manga in top_rated_mangas %} {{ rated_manga.top_manga_total }}, {% endfor %}],
          backgroundColor: "#F0ABFC",
          borderColor: "#E879F9",
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    
  </script>
{% endblock %}