<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-gray-100">
    <div class="flex justify-center items-center h-screen">
        {% if form.errors %}
        <ul class="list-disc">
            {% for error in form.errors %}
            <h2 class="text-red-300">{{ error }}</h2>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>