<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="bg-gray-900 py-2">
        <div class="mx-20">
            <h1 class="text-white text-[2rem] hover:text-[2.1rem] duration-700 trasition-all inline"><a href="{% url 'dashboard' %}">Mangá<span class="text-fuchsia-400">Net</span></a></h1>
            <div class="flex flex-row float-right mt-4 gap-8">
                <div class="basis-2"><span class="text-white hover:text-fuchsia-400 hover:trasition-all duration-700 ease-in-out"><a href="{% url 'author.index' %}">Autores</a></span></div>
                <div class="basis-2"><span class="text-white hover:text-fuchsia-400 hover:trasition-all duration-700 ease-in-out"><a href="{% url 'logout' %}">Sair</a></span></div>
            </div>
        </div>
    </header>
    <div class="mx-20 my-12">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>